<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include the charset, viewport, title, and link to the CSS stylesheet -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Python Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Dashboard - Python Blog{% endblock %}
    {% block content %}
    
    <!-- Main Content Section -->
    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="page-title">Dashboard</h1>
                        <!-- Loop through user's posts -->
                        {% for post in user_posts %}
                        {% endfor %}
            </article>
        </div>
    </section>
    {% endblock %}
</body>
</html>
